.container-fluid {
    background: linear-gradient(gray, black);
    width: 100vw;
    height: 100vh;
}

.navbar {

    .text-1 {
        color: white;
        position: absolute;
        left: 100px;
        top: 20px;
        font-size: 30px;
        font-weight: 700;
    }

    .img-1 {
        position: absolute;
        right: 50px;
        top: 30px;

    }

    .box {
        position: relative;
        width: 400px;
        height: 350px;
        background-color: #F72260;
        top: -11px;
        left: 320px;
    }
}

.main {

    .left {

        .text-2 {
            color: white;
            position: absolute;
            left: 100px;
            top: 250px;
            font-weight: 600;
            font-size: 60px;
        }

        .text-3 {
            color: white;
            position: absolute;
            left: 100px;
            top: 400px;
        }

        .btn {
            position: absolute;
            width: 120px;
            height: 45px;
            left: 100px;
            top: 550px;
            color: white;
            border: 2px solid white;
            border-radius: 0%;

        }
    }

    .right {

        .watch {
            position: absolute;
            right: 100px;
            top: 100px;
        }

        .box-2 {
            position: relative;
            left: 1122px;
            top: 155px;
            width: 400px;
            height: 200px;
            background-color: #AEFC11;
        }
    }
}

.footer {
    position: absolute;
    left: 90px;
    bottom: 0px;

    img {
        background-color: gray;
        margin-left: 20px;
    }
}

@media (min-width: 0px) and (max-width: 446.9px) {
    .container-fluid{
        height: 135vh;
    }

    .navbar {

        .text-1 {
            color: white;
            position: absolute;
            font-size: 30px;
            font-weight: 700;
            left: 20px;
            top: 20px;
        }

        .img-1 {
            position: absolute;
            right: 10px;
            top: 25px;
            width: 35px;


        }

        .box {
            position: relative;
            width: 200px;
            height: 350px;
            background-color: #F72260;
            top: 17px;
            left: -12px;
        }
    }

    .main {

        .left {

            .text-2 {
                color: white;
                position: absolute;
                left: 50px;
                top: 370px;
                font-weight: 700;
                font-size: 40px;
            }

            .text-3 {
                color: white;
                position: absolute;
                left: 50px;
                top: 480px;

            }

            .btn {
                position: absolute;
                width: 120px;
                height: 45px;
                left: 50px;
                top: 690px;
                color: white;
                border: 2px solid white;
                border-radius: 0%;

            }
        }

        .right {

            .watch {
                position: absolute;
                right: 10px;
                top: 50px;
                width: 320px;
                height: 310px;
            }

            .box-2 {
                position: relative;
                left: 229px;
                top: 408px;
                width: 100px;
                height: 80px;
                background-color: #AEFC11;
            }
        }
    }

    .footer {
        position: absolute;
        left: 30px;
        top: 780px;

        img {
            background-color: gray;
            margin-left: 20px;
        }
    }
}